@import 'tailwindcss';

:root {
  font-family: 'Archivo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 18px;

  color-scheme: light dark;
  color: #000;
  background-color: #f8d6b3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 8px;
  height: 100%;
}

button {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Narrow', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.resume-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 1rem;
  width: 90vw;
  margin: 0px auto;
  grid-template-areas:
    'aside intro'
    'aside profile'
    'aside contact'
    'aside experience';
  background-color: #f8d6b3;
}

.resume-container .card.intro {
  background-color: #7fbc8c;
}

.resume-container aside {
  grid-area: aside;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px;
}

.resume-container aside ul {
  padding-left: 20px;
  margin: 18px 0;
  padding-inline-start: 40px;
}

.resume-container aside ul li {
  font-size: 0.9rem;
  line-height: 1.2;
}

.resume-container aside .education p {
  font-size: 0.9rem;
}

.resume-container aside .education p strong {
  font-variation-settings: 'wdth' 100;
  margin-right: 4px;
  display: block;
}

.resume-container main {
  margin: 10px;
  margin-right: 20px;
  grid-area: main;
}

.resume-container .card {
  padding: 20px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.resume-container .card span.hilite {
  background-color: #ff6b6b;
  padding: 2px 4px;
  border-radius: 5px;
}

.resume-container .card.shadow {
  box-shadow: 5px 5px;
}

.resume-container .card.contact {
  background-color: #a388ee;
  position: relative;
}

.resume-container .card.job {
  background-color: #fff;
}

.resume-container .card.project {
  background-color: #e3dff2;
}

.resume-container .intro {
  grid-area: intro;
  position: relative;
}

.resume-container .profile {
  grid-area: profile;
}

.resume-container .contact {
  grid-area: contact;
}

.resume-container .experience {
  grid-area: experience;
}

.resume-container .experience header {
  margin-bottom: 20px;
}
.resume-container .experience header h2 {
  color: #ff6b6b;
}

.resume-container h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 0;
  text-align: left;
}

.resume-container h2 {
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: 0;
}

.resume-container .skills h2 {
  font-size: 1.8rem;
}

.resume-container h3 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0;
}

.resume-container .skills h3 {
  font-size: 1.2rem;
}

.resume-container h4 {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0;
}

.resume-container h5 {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 0;
}

.resume-container h6 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0;
}

.card.job .title {
  display: block;
  font-size: 1.35rem;
  text-align: left;
}

.card.job .company {
  display: block;
  font-size: 1.2rem;
}

.card.job .dates {
  font-size: 0.9rem;
  display: block;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.resume-container ul {
  list-style-type: none;
  padding-inline-start: 40px;
}

.resume-container ul li {
  list-style-position: outside;
}

.resume-container ul li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6b6b;
  box-shadow: 2px 2px #000;
  margin-left: -20px;
  margin-right: 10px;
}

.resume-container .card.project {
  padding-left: 20px;
  margin: 18px 0;
}

.resume-container .card.project ul li {
  font-size: 0.9rem;
  line-height: 1.2;
}

.resume-container .card.contact ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
}

.resume-container .card.contact ul li {
  display: block;
}

.resume-container .card.contact ul li::before {
  display: none;
}

.resume-container .card.contact a {
  color: #e3dff2;
  font-variation-settings: 'wdth' 75;
}

.icon {
  position: absolute;
  top: -32px;
  left: calc(100% - 100px);
}

.icon.phone {
  display: block;
  width: 64px;
  height: 64px;
  font-size: 64px;
}

.contact:hover .icon.phone {
}

.resume-container .intro .download-btn,
.download-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 3px solid black;
  background-color: rgba(163, 136, 238, 1);
  font-size: 0.7rem;
  padding: 6px 15px;
  border-radius: 5px;
  color: black;
  box-shadow: 2px 2px #000;
  cursor: pointer;
}

.resume-container .intro .download-btn.projects {
  top: 70px;
  background-color: rgba(255, 107, 107, 1);
}

.resume-container .intro .download-btn:hover,
.download-btn:hover {
  background-color: rgba(163, 136, 238, 0.8);
}

.resume-container .intro .download-btn.projects:hover {
  background-color: rgba(255, 107, 107, 0.8);
}

.resume-container .intro .download-btn:active,
.download-btn:active {
  transform: scale(0.98);
}

@keyframes ring {
  0% {
    transform: rotate(5deg);
    scale: 1;
  }
  25% {
    /* transform: rotate(-22.5deg); */
  }
  50% {
    transform: rotate(-5deg);
    /* transform: rotate(0); */
    scale: 1.1;
  }
  75% {
    /* transform: rotate(22.5deg); */
  }
  100% {
    transform: rotate(5deg);
    /* scale: 1; */
    scale: 1;
  }
}

@media only screen and (max-width: 900px) {
  body {
    margin: 0;
    box-sizing: border-box;
  }
  #root {
    box-sizing: border-box;
    width: 100vw;
  }
  .resume-container {
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 24px;
  }

  .resume-container aside {
    margin: 0;
    margin-bottom: 40px;
  }

  .resume-container {
    box-sizing: border-box;
    grid-template-areas:
      'intro'
      'profile'
      'aside'
      'contact'
      'experience';
    grid-template-columns: 1fr;
    padding: 10px;
    display: grid;
    grid-gap: 0;
    background: #f8d6b3;
  }

  .resume-container {
    margin-right: 0;
    padding: 0;
    margin: 0;
  }

  .resume-container aside h2 {
    font-size: 1.6rem !important;
  }

  .resume-container h3 {
    font-size: 1.2rem !important;
  }

  .resume-container .intro header h1 {
    text-align: left;
  }

  .resume-container .intro h1 {
    font-size: 2rem;
  }

  .resume-container .intro h2 {
    font-size: 1.3rem;
  }

  .resume-container .experience header h2 {
    font-size: 2rem;
  }

  .card.job .title {
    display: block;
    font-size: 1.35rem;
  }

  .card.job .company {
    display: block;
    font-size: 1.2rem;
  }

  .card.job ul {
    padding-inline-start: 20px;
  }

  .card.job ul li {
    margin-bottom: 10px;
  }

  .resume-container .card.contact ul {
    grid-template-columns: 1fr;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
